<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ylean.yb.student">

    <permission
        android:name="com.ylean.yb.student.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.ylean.home.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SENSOR_INFO" />
    <uses-permission android:name="android.permission.SENSOR_ENABLE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="android.max_aspect"
            android:value="2.4" />

        <!--适配华为（huawei）刘海屏-->
        <meta-data
            android:name="android.notch_support"
            android:value="true"/>
        <!--适配小米（xiaomi）刘海屏-->
        <meta-data
            android:name="notch.config"
            android:value="portrait|landscape" />


        <activity android:name=".activity.TabActivity"  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--<activity android:name=".activity.init.GuideActivity"  android:screenOrientation="portrait"/>-->
        <!--<activity android:name=".activity.TabActivity"  android:screenOrientation="portrait"   android:launchMode="singleTask"/>-->
        <activity android:name=".activity.main.MainActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.declare.DeclareActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.love.LoveActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.planning.PlanningActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.UserActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.min.UserInfoActivity"  android:screenOrientation="portrait"  android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".activity.user.setting.SettingActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.setting.UpdateMobileActivity1"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.setting.UpdateMobileActivity2"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.setting.UpdatePwdActivity1"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.setting.UpdatePwdActivity2"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.RegisterActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.BindingEmailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.ValidationActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.ValidationMobileActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.ValidationEmailActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.apply.ApplyRecordActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.school.InSchoolActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.school.AddInSchoolActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.declare.DeclareDetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.declare.AddDeclareActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.declare.ApplySuccessActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.declare.DeclareAuditActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.activity.MyActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.activity.ActivityDetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.activity.AddWelfareActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.MyResumeActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.DeliveryRecordActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.EditResumeActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.leave.MyLeaveActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.AboutActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.FeedBackActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.news.NewsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.MyBankActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.UpdateBankActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.MoneyIssueActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.ApplyRefundActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.ApplyReissueActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.apply.ReissueAuditActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.apply.WelfareAuditActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.apply.InSchoolAuditActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.apply.BankAuditActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.RegisterActivity2"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.init.ValidationSuccessActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.min.AddEducationActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.leave.LeaveDetailsActivity"  android:screenOrientation="portrait"  android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".activity.user.resume.AddSchoolHonorActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.AddSchoolPositionActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.AddSpecialtyActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.AddCertificateActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.news.SurveyDetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.SelectPositionActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.SelectIndustryActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.ProgressActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.MyCommunityActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.MentorActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.bank.ValidationActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.resume.AddEducationActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.planning.PlanningOtherActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.love.LoveOtherActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.ShareActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.UploadFileActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.main.NewsDetailsActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.user.setting.UpdatePhoneActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".activity.webview.MainWebViewActivity"  android:screenOrientation="portrait"/>



        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>